[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ameyasuvarna
[access "refs/for/refs/*"]
	read = group user/ameyasuvarna
	push = group user/ameyasuvarna
	label-Code-Review = -2..+2 group user/ameyasuvarna
	label-Verified = -1..+1 group user/ameyasuvarna
	rebase = group user/ameyasuvarna
	removeReviewer = group user/ameyasuvarna
	submit = group user/ameyasuvarna
[access "refs/heads/*"]
	read = group user/ameyasuvarna
	create = group user/ameyasuvarna
	push = +force group user/ameyasuvarna
	pushMerge = group user/ameyasuvarna
[access "refs/tags/*"]
	push = group user/ameyasuvarna
	push = +force group user/ameyasuvarna
